{
  "openapi": "3.1.0",
  "info": {
    "title": "Lensmor API",
    "version": "0.26.0",
    "description": "Lensmor Event Intelligence API for event discovery, exhibitor research, personnel lookup, credits, and profile matching.",
    "license": {
      "name": "Lensmor Terms of Service",
      "url": "https://www.lensmor.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://platform.lensmor.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Credits",
      "description": "Inspect the credit balance available to the authenticated API key owner."
    },
    {
      "name": "Actions",
      "description": "Preflight access and credit-sensitive actions before executing them."
    },
    {
      "name": "Events",
      "description": "Discover, inspect, score, rank, and unlock trade show event records."
    },
    {
      "name": "Exhibitors",
      "description": "Search and inspect exhibiting companies and their related events."
    },
    {
      "name": "Personnel",
      "description": "Browse event personnel, related events, LinkedIn activity, and outreach content."
    },
    {
      "name": "Contacts",
      "description": "Search contacts and run asynchronous email or phone unlock workflows."
    },
    {
      "name": "Profile Matching",
      "description": "Apply a buyer profile to rank events and recommend exhibitors."
    }
  ],
  "paths": {
    "/external/credits/balance": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get credits balance",
        "description": "Return the current credit position for the authenticated API key owner without spending credits.\n\nUse this endpoint before and after any workflow that can consume credits, including event access, Visitor access, contact enrichment, and charged company searches. The response separates subscription, add-on, and gift balances so a client can show both the usable total and the buckets that contribute to it.\n\nThis is a read-only account check. A successful response does not reserve credits or guarantee that a later paid action will still have sufficient balance, so refresh the balance immediately before user-confirmed spending and again after the action completes.",
        "operationId": "getExternalCreditsBalance",
        "responses": {
          "200": {
            "description": "Credits balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalance"
                },
                "example": {
                  "totalAmount": 45050,
                  "totalBalance": 38050,
                  "subscriptionAmount": 35000,
                  "subscriptionBalance": 30000,
                  "addonAmount": 10000,
                  "addonBalance": 8000,
                  "addonExpireAt": 1784851200000,
                  "giftAmount": 50,
                  "giftBalance": 50,
                  "resetAt": 1714521600000
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/actions/precheck": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Precheck an external action",
        "description": "Evaluate whether a supported external action can run and what it is expected to cost, without executing the action or charging credits.\n\nUse precheck immediately before event-access, Visitor-access, contact-unlock, and other action-specific workflows. Inspect `allowed`, `should_charge`, `credits`, and `reason_code` to decide whether to continue, ask the user for confirmation, or explain why the action is unavailable.\n\nPrecheck is advisory and read-only: it does not reserve credits, create a task, or lock the target state. Send the same action type and identifiers to the execution endpoint promptly, and still handle state or balance changes returned by that endpoint.",
        "operationId": "precheckExternalAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionPrecheckRequest"
              },
              "example": {
                "action_type": "query_event_personnel",
                "call_source": "api",
                "params": {
                  "event_id": "26855"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Precheck decision envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionPrecheckResponse"
                },
                "example": {
                  "ok": true,
                  "action_type": "query_event_personnel",
                  "allowed": true,
                  "should_charge": false,
                  "credits": 0,
                  "reason_code": "ok",
                  "biz_code": "",
                  "detail": {
                    "event_id": "26855",
                    "access_mode": "preview",
                    "preview_limit": 50,
                    "unlock_action_type": "unlock_event_contacts",
                    "unlock_credits": 2000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/list": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "description": "Browse the Lensmor event catalog with keyword, geography, date, event-type, quality, Sponsor Match, and Visitor-data filters.\n\nUse this endpoint for broad discovery, search pages, and the first step of an event workflow. Returned `id` and `eventId` values can be passed to event detail, exhibitor, personnel, scoring, ranking, recommendation, and access-unlock endpoints.\n\nFilters narrow the catalog and pagination is one-based. Use `sponsor_match_starred=1` or `0` for Sponsor Match state and `has_visitors=1` or `0` for Visitor-data availability. Returned `hasVisitors` is an availability signal; it does not mean the caller has unlocked Visitor data. No matches return `200 OK` with an empty `items` array.",
        "operationId": "listEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Search event names and related event text by keyword.",
            "example": "CES"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter events by country name.",
            "example": "United States"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter events by city name.",
            "example": "Las Vegas"
          },
          {
            "name": "date_start_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive lower bound for the event start date in `YYYY-MM-DD` format.",
            "example": "2025-01-01"
          },
          {
            "name": "date_start_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive upper bound for the event start date in `YYYY-MM-DD` format.",
            "example": "2025-12-31"
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more event-type labels. Comma-separated input is supported.",
            "example": [
              "In-person"
            ]
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more quality labels. Comma-separated input is supported.",
            "example": [
              "Verified"
            ]
          },
          {
            "name": "sponsor_match_starred",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Filter by Sponsor Match starred state: `1` for starred or `0` for not starred.",
            "example": 1
          },
          {
            "name": "has_visitors",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Filter by registered Visitor-data availability: `1` when available or `0` when unavailable.",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "8458",
                      "eventId": "26855",
                      "name": "CES 2025",
                      "nickname": "Consumer Electronics Show 2025",
                      "description": "Consumer technology trade show in Las Vegas.",
                      "url": "https://www.ces.tech/",
                      "dateStart": "2025-01-07",
                      "dateEnd": "2025-01-10",
                      "venue": "Las Vegas Convention Center",
                      "city": "Las Vegas",
                      "region": "Nevada",
                      "country": "United States",
                      "exhibitorCount": 3259,
                      "hasVisitors": true,
                      "sponsorMatchStarred": 0,
                      "image": "https://example.com/ces-image.png",
                      "dataSource": "Lensmor"
                    }
                  ],
                  "total": 42,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 3,
                  "hasMore": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get event detail",
        "description": "Retrieve the canonical detailed record for one Lensmor event after discovery or selection.\n\nUse this endpoint when a product needs venue, dates, description, geography, categories, topics, pricing, coordinates, coverage counts, or other event-level metadata that is not necessary in a lightweight list or brief view. The path accepts the event `id` or `eventId` returned by public event responses.\n\nThis read-only call does not unlock event, exhibitor, personnel, or Visitor access. Treat `hasVisitors` as an availability signal only, then inspect event-scoped list semantics or run an action precheck before a paid unlock.",
        "operationId": "getEventDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Event detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event"
                  ],
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/EventDetail"
                    }
                  }
                },
                "example": {
                  "event": {
                    "id": "8458",
                    "eventId": "26855",
                    "name": "CES 2025",
                    "description": "Consumer technology trade show in Las Vegas.",
                    "url": "https://www.ces.tech/",
                    "dateStart": "2025-01-07",
                    "dateEnd": "2025-01-10",
                    "venue": "Las Vegas Convention Center",
                    "city": "Las Vegas",
                    "region": "Nevada",
                    "country": "United States",
                    "exhibitorCount": 3259,
                    "hasVisitors": true,
                    "sponsorMatchStarred": 0,
                    "dataSource": "Lensmor"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/brief": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get event brief",
        "description": "Fetch a lightweight summary for one event, including core identity, coverage counts, top categories, and data freshness.\n\nUse this endpoint for compact cards, quick previews, background refreshes, or any UI that does not need the full event-detail shape. Pass the `event_id` returned by discovery or recommendation endpoints, and treat unavailable optional values according to their documented nullability.\n\nThe brief is read-only and is not an access-unlock response. Use event detail when you need the complete profile. Use event-scoped exhibitor or personnel lists to inspect available records and preview/full-access semantics before spending credits.",
        "operationId": "getEventBrief",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Event brief",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event",
                    "summary"
                  ],
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/EventItem"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "attendeeCount": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "exhibitorCount": {
                          "type": "integer"
                        },
                        "topCategories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "dataFreshness": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "event": {
                    "id": "123",
                    "eventId": "139574",
                    "name": "NRF 2026",
                    "description": "Retail industry event",
                    "url": "https://example.com/events/nrf-2026",
                    "dateStart": "2026-01-12",
                    "dateEnd": "2026-01-15",
                    "venue": "Javits Center",
                    "city": "New York",
                    "region": "NY",
                    "country": "United States",
                    "exhibitorCount": 950,
                    "sponsorMatchStarred": 0,
                    "dataSource": "Lensmor"
                  },
                  "summary": {
                    "attendeeCount": 40000,
                    "exhibitorCount": 950,
                    "topCategories": [],
                    "dataFreshness": "database_snapshot"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/fit-score": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Score one event",
        "description": "Calculate how well one known event matches the authenticated caller's current profile context without unlocking the event.\n\nUse this endpoint when a user has already selected an event and needs a focused fit assessment. The response combines the event record, a numeric score, a recommendation label, and explanatory breakdown data. For a supplied shortlist of several events, use event ranking instead; for discovery from company or audience inputs, use profile-matching recommendations.\n\nScores are profile-dependent and can change when profile data or event data changes. Store the event identifier as the stable reference and treat the score and rationale as a point-in-time recommendation.",
        "operationId": "scoreEventFit",
        "requestBody": {
          "$ref": "#/components/requestBodies/EventIdBody"
        },
        "responses": {
          "201": {
            "description": "Event fit score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventFitScore"
                },
                "example": {
                  "event": {
                    "id": "123",
                    "eventId": "139574",
                    "name": "NRF 2026",
                    "description": "Retail industry event",
                    "url": "https://example.com/events/nrf-2026",
                    "dateStart": "2026-01-12",
                    "dateEnd": "2026-01-15",
                    "venue": "Javits Center",
                    "city": "New York",
                    "region": "NY",
                    "country": "United States",
                    "exhibitorCount": 950,
                    "sponsorMatchStarred": 0,
                    "dataSource": "Lensmor"
                  },
                  "score": 8.1,
                  "recommendation": "recommended",
                  "breakdown": {
                    "profile_match": 8.1,
                    "matched_exhibitor_density": 1.9,
                    "event_scale": 9.5
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/rank": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Rank events",
        "description": "Rank a caller-supplied shortlist of event identifiers against the authenticated user's current profile.\n\nUse this endpoint after another workflow has produced candidate events—for example event search, CRM input, exhibitor/personnel history, or a user-curated shortlist. The response orders the candidates and returns match scores and reasons where available.\n\nThis endpoint ranks only the identifiers supplied; it is not a database-wide discovery call and it does not unlock event data. Invalid or unavailable identifiers can prevent a complete ranking, so retain the original shortlist and handle missing candidates explicitly.",
        "operationId": "rankEvents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_ids"
                ],
                "properties": {
                  "event_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Event identifiers to rank against the authenticated user's current profile. Runtime validation permits an empty array.",
                    "example": [
                      "26855",
                      "139574"
                    ]
                  }
                }
              },
              "example": {
                "event_ids": [
                  "139574",
                  "139575"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ranked events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventRankItem"
                      }
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "event_id": "139574",
                      "name": "NRF 2026",
                      "rank": 1,
                      "match_score": 0.86,
                      "reasons": []
                    },
                    {
                      "event_id": "139575",
                      "name": "Shoptalk 2026",
                      "rank": 2,
                      "match_score": 0.79,
                      "reasons": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}/unlock": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Unlock event access",
        "description": "Unlock the base event access layer so event-scoped exhibitor and personnel endpoints can return complete coverage beyond preview limits.\n\nUse this endpoint only after the user has selected an event and reviewed the preview semantics from exhibitor or personnel lists. The first successful base unlock can consume `2,000` credits. Repeating the call for an already unlocked event is idempotent and should not charge again.\n\nThis endpoint does not unlock the separate registered Visitor layer. Use action precheck before execution, provide `x-call-source` for attribution, and use Visitor unlock or full-access unlock only when Visitor data is also required.",
        "operationId": "unlockEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "201": {
            "description": "Event unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventUnlockResult"
                },
                "example": {
                  "success": true,
                  "alreadyUnlocked": false,
                  "creditsUsed": 2000,
                  "balanceAfter": {
                    "subscriptionBalance": 0,
                    "permanentBalance": 451021,
                    "totalBalance": 451021,
                    "unlimited": false
                  },
                  "event": {
                    "id": "8458",
                    "eventId": "26855",
                    "name": "CES 2025"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}/visitors/unlock": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Unlock event visitor access",
        "description": "Unlock the registered Visitor data layer for an event that already has base event access.\n\nUse this endpoint when Visitor records are available and the caller needs that source in addition to base exhibitor and personnel coverage. Run action precheck with `unlock_event_visitors` first. A first successful Visitor unlock consumes `3,000` credits, requires an active subscription, and requires Visitor data to be available for the event.\n\nThe operation is idempotent for an already unlocked Visitor layer. It does not replace the base event unlock prerequisite. Handle `409` state conflicts and availability failures as workflow states rather than blindly retrying the paid request.",
        "operationId": "unlockEventVisitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "200": {
            "description": "Business-error envelope when the caller has no active paid subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureUnavailableBusinessError"
                },
                "example": {
                  "code": 400,
                  "message": "This feature is not available to free users, please upgrade to continue",
                  "errorKey": "USER_HAS_NO_FEATURE",
                  "traceId": "2be6d7f4-3b2d-4d11-8e2d-7a2e4c3e9a10"
                }
              }
            }
          },
          "201": {
            "description": "Visitor access unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventVisitorUnlockResult"
                },
                "example": {
                  "success": true,
                  "alreadyUnlocked": false,
                  "creditsSpent": 3000,
                  "balanceAfter": {
                    "totalAmount": 45050,
                    "totalBalance": 35050,
                    "subscriptionAmount": 35000,
                    "subscriptionBalance": 27000,
                    "addonAmount": 10000,
                    "addonBalance": 8000,
                    "addonExpireAt": 1784851200000,
                    "giftAmount": 50,
                    "giftBalance": 50,
                    "resetAt": 1785542400000
                  },
                  "event": {
                    "id": "8458",
                    "eventId": "26855",
                    "name": "CES 2025"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}/full-access/unlock": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Unlock full event access",
        "description": "Atomically request all available access layers for one event and pay only for layers that are still locked.\n\nUse this endpoint when the user wants both base exhibitor/personnel coverage and registered Visitor coverage in one confirmed action. Base access costs `2,000` credits and Visitor access costs `3,000` credits, so a fully locked event can consume up to `5,000` credits. Already unlocked layers are not charged again.\n\nRun action precheck with `unlock_event_full_access` before execution. The response identifies which layers changed, whether Visitor access was skipped, the exact credits used, and the balance afterward. If Visitor data is unavailable and only base access is required, use the base event unlock endpoint.",
        "operationId": "unlockEventFullAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "200": {
            "description": "Business-error envelope when the caller has no active paid subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureUnavailableBusinessError"
                },
                "example": {
                  "code": 400,
                  "message": "This feature is not available to free users, please upgrade to continue",
                  "errorKey": "USER_HAS_NO_FEATURE",
                  "traceId": "2be6d7f4-3b2d-4d11-8e2d-7a2e4c3e9a10"
                }
              }
            }
          },
          "201": {
            "description": "Full event access unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventFullAccessUnlockResult"
                },
                "example": {
                  "success": true,
                  "alreadyUnlocked": false,
                  "eventUnlocked": true,
                  "visitorUnlocked": true,
                  "visitorSkipped": false,
                  "totalCreditsUsed": 5000,
                  "balanceAfter": {
                    "subscriptionBalance": 25000,
                    "permanentBalance": 50,
                    "totalBalance": 33050,
                    "unlimited": false
                  },
                  "event": {
                    "id": "8458",
                    "eventId": "26855",
                    "name": "CES 2025"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/list": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "List event exhibitors",
        "description": "List exhibitors within one selected event, with company filters, optional personnel hints, pagination, and preview/full-access semantics.\n\nUse this endpoint to build an event exhibitor directory, filter companies by keyword, country, category, or industry, and collect exhibitor IDs for profile or related-event calls. `personnelLimit` can request a best-effort nested personnel sample; use the event personnel endpoint when contacts are required.\n\nAlways inspect `semantics.accessMode`, counts, page state, and unlock guidance. Preview results can be intentionally limited until base event access is unlocked. No matches return an empty page, while an unknown event returns an error.",
        "operationId": "listExhibitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Search exhibitor company names and related company text within the event.",
            "example": "Acme"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter exhibitors by company country.",
            "example": "United States"
          },
          {
            "$ref": "#/components/parameters/CategoryArray"
          },
          {
            "$ref": "#/components/parameters/IndustryArray"
          },
          {
            "name": "jobTitle",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more nested personnel job-title terms.",
            "example": [
              "VP Marketing"
            ]
          },
          {
            "name": "managementLevel",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by normalized personnel management levels such as `vp` or `c_suite`.",
            "example": [
              "vp"
            ]
          },
          {
            "name": "department",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by normalized personnel departments such as `marketing` or `sales`.",
            "example": [
              "marketing"
            ]
          },
          {
            "name": "personnelLimit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Maximum best-effort nested personnel samples per exhibitor. Use `0` or omit the parameter for no nested sample.",
            "example": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated exhibitors with access semantics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorPageWithSemantics"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "domain": "acme.example",
                      "website": "https://acme.example",
                      "industry": "Retail Technology",
                      "country": "United States",
                      "matched_event_ids": [
                        "139574"
                      ]
                    }
                  ],
                  "total": 87,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 5,
                  "hasMore": true,
                  "recommendationProcessing": false,
                  "recommendationProcessingFeature": "none",
                  "semantics": {
                    "accessMode": "preview",
                    "previewLimit": 50,
                    "counts": {
                      "actualTotal": 87,
                      "visibleTotal": 50,
                      "remainingLockedCount": 37
                    },
                    "pageState": {
                      "requestedPage": 1,
                      "accessible": true,
                      "maxAccessiblePage": 1
                    },
                    "unlock": {
                      "requiredForMoreResults": true,
                      "actionType": "unlock_event_exhibitors",
                      "credits": 2000
                    },
                    "guidance": {
                      "code": "preview_results_truncated",
                      "message": "This event is locked. Only the first 50 matching exhibitors are currently accessible. Unlock the event to access the remaining matching results."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/search": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Search exhibitors by company context",
        "description": "Search Lensmor exhibitor records from company context such as a public company URL or a target-audience description.\n\nUse this endpoint when the workflow starts from a company or buyer profile rather than a known event. Provide at least one of `company_url` or `target_audience`; providing both gives the matcher more context. The result is a paginated exhibitor list that can feed exhibitor profile, related-event, or contact discovery workflows.\n\nThis is broader contextual matching, not an exact company-name lookup. Use the company-name endpoint for precision-first name matching and the exhibitor event-search endpoint when the desired output is events rather than companies.",
        "operationId": "searchExhibitors",
        "requestBody": {
          "$ref": "#/components/requestBodies/ExhibitorSearchBody"
        },
        "responses": {
          "201": {
            "description": "Paginated exhibitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "domain": "acme.example",
                      "website": "https://acme.example",
                      "industry": "Retail Technology",
                      "country": "United States",
                      "matched_event_ids": [
                        "139574"
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/search-by-company-name": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Search exhibitors by company name",
        "description": "Run a precision-first lookup for exhibitor company records from a required company name.\n\nUse this endpoint when the input is a known company name and the desired output is exhibitor IDs and enriched company records. Matching intentionally favors precision over broad fuzzy recall, so ambiguous or weak input can return an empty page. Reuse the selected exhibitor ID for profile and related-event calls instead of repeating the paid search.\n\nA non-empty result consumes `50` credits; an empty result consumes `0` credits. Check the credit balance and confirm charged searches in user-facing or bulk workflows. Use exhibitor event search when the desired output is the events associated with the company.",
        "operationId": "searchExhibitorsByCompanyName",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CompanyNameBody"
        },
        "responses": {
          "201": {
            "description": "Paginated exhibitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "domain": "acme.example",
                      "website": "https://acme.example",
                      "industry": "Retail Technology",
                      "country": "United States",
                      "matched_event_ids": [
                        "139574"
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/search-events": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Search events by exhibitor company name",
        "description": "Find deduplicated events associated with exhibitor companies that match a required company name.\n\nUse this endpoint for account planning, CRM enrichment, or the question “which events is this company associated with?” without first resolving an exhibitor ID. Optional `sponsor_match_starred` filtering can select starred or non-starred Sponsor Match events; omit it to include both states.\n\nThe endpoint returns events, not exhibitor records. A non-empty result consumes `50` credits and an empty result consumes `0` credits, so check the balance before bulk or user-confirmed searches. Matching is precision-first and incomplete names can legitimately return no results.",
        "operationId": "searchEventsByExhibitorCompanyName",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchEventsByCompanyNameBody"
        },
        "responses": {
          "200": {
            "description": "Business-error envelope when another request already occupies the per-user concurrency slot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrencyLimitBusinessError"
                },
                "example": {
                  "code": 429,
                  "message": "Too many concurrent requests for this endpoint",
                  "errorKey": "USER_CONCURRENCY_LIMIT_EXCEEDED",
                  "data": null,
                  "details": null,
                  "traceId": "trace-123"
                }
              }
            }
          },
          "201": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventReverseSearchPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "123",
                      "eventId": "139574",
                      "name": "Shoptalk 2026",
                      "dateStart": "2026-03-15",
                      "dateEnd": "2026-03-18",
                      "city": "Las Vegas",
                      "country": "United States",
                      "sponsorMatchStarred": 1,
                      "dataSource": "Lensmor",
                      "matchedExhibitors": [
                        {
                          "id": "456",
                          "companyName": "Acme Retail Systems"
                        }
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/profile": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Get exhibitor profile",
        "description": "Retrieve the detailed public company profile for one known exhibitor identifier.\n\nUse this endpoint after selecting an exhibitor from an event list, contextual search, company-name search, or recommendation result. The response is suited to company profile cards and includes enrichment such as description, industry, company size, country, website, LinkedIn identity, and compact event references when available. Store the exhibitor ID as the stable Lensmor reference for follow-up calls.\n\nThis read-only call does not unlock event access or contact data. Use the related-events endpoint for a paginated event history and personnel/contact endpoints when the next step is people discovery.",
        "operationId": "getExhibitorProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExhibitorIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Exhibitor profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorProfile"
                },
                "example": {
                  "id": "456",
                  "companyName": "Acme Retail Systems",
                  "domain": "acme.example",
                  "website": "https://acme.example",
                  "industry": "Retail Technology",
                  "employeeCount": 220,
                  "country": "United States",
                  "fundingRound": "Series B",
                  "matched_event_ids": [
                    "139574"
                  ],
                  "events": [
                    {
                      "id": "123",
                      "eventId": "139574",
                      "name": "NRF 2026"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/events": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "List exhibitor related events",
        "description": "Return a paginated list of Lensmor events associated with one known exhibitor identifier.\n\nUse this endpoint when an exhibitor profile has already been resolved and the integration needs the company's event history or current event associations. Event items use the shared public event shape and can be passed to event detail, fit scoring, ranking, or access workflows. Follow `hasMore` and increment `page` to retrieve additional results.\n\nIf the starting input is only a company name, use exhibitor event search instead. An exhibitor with no associated events returns a successful empty page; an unknown exhibitor identifier returns an error.",
        "operationId": "listExhibitorEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExhibitorIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "123",
                      "eventId": "139574",
                      "name": "NRF 2026",
                      "dateStart": "2026-01-12",
                      "dateEnd": "2026-01-15",
                      "city": "New York",
                      "country": "United States"
                    }
                  ],
                  "total": 12,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/list": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "List event personnel",
        "description": "List people associated with one event, with optional exhibitor, department, seniority, text, and attendee-source filtering.\n\nUse this endpoint to build attendee exploration, segment people within an event, and collect personnel IDs for profile, LinkedIn activity, contact unlock, or outreach workflows. `sourceType` accepts one or more event-scoped values—`exhibitor`, `social`, or `visitors`—comma-separated or repeated; returned arrays can still contain multiple non-exclusive labels.\n\nInspect the returned access semantics and counts. Base-event preview/full mode does not by itself confirm separate Visitor-layer access. This endpoint is read-only and does not unlock email addresses, phone numbers, or LinkedIn activity.",
        "operationId": "listPersonnel",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            },
            "description": "Maximum personnel records requested per page. The default and maximum are `50` for this endpoint.",
            "example": 50
          },
          {
            "name": "exhibitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Limit results to one exhibitor within the selected event.",
            "example": "4182"
          },
          {
            "name": "department",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Filter by normalized department label.",
            "example": "marketing"
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Filter by normalized seniority or management level.",
            "example": "vp"
          },
          {
            "name": "search_query",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Search the person's name or job title within the event-scoped result set.",
            "example": "Jane Doe"
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "Filter by one or more event-scoped attendee-source labels: `exhibitor`, `social`, or `visitors`. Send comma-separated values or repeat the query parameter.",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "example": "social,visitors"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated contacts with access semantics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPageWithSemantics"
                },
                "example": {
                  "items": [
                    {
                      "id": "789",
                      "fullName": "Jane Smith",
                      "title": "VP of Retail Technology",
                      "companyName": "Acme Retail Systems",
                      "sourceType": [
                        "exhibitor",
                        "social"
                      ],
                      "email": null,
                      "phone": null,
                      "contactUnlockStatus": "locked",
                      "phoneUnlockStatus": null,
                      "eventCount": 5,
                      "outreachMessageStatus": null,
                      "outreachMessageChannels": []
                    }
                  ],
                  "total": 42,
                  "page": 1,
                  "pageSize": 50,
                  "totalPages": 1,
                  "hasMore": false,
                  "semantics": {
                    "accessMode": "preview",
                    "previewLimit": 50
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/profile": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "Get personnel profile",
        "description": "Retrieve the public professional profile for one known Lensmor personnel identifier.\n\nUse this endpoint after a person is selected from event personnel, contact search, or LinkedIn-based event lookup. It is designed to confirm identity, company and role context, normalized department/seniority metadata, aggregated attendee-source labels, and the current contact access state before a follow-up action.\n\nThis read-only profile call does not unlock email, phone, or LinkedIn activity. `sourceType` can aggregate non-exclusive labels across associated events; use the event personnel list when event-specific source context is required.",
        "operationId": "getPersonnelProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonnelIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Personnel profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                },
                "example": {
                  "id": "789",
                  "fullName": "Jane Smith",
                  "title": "VP of Retail Technology",
                  "department": "Technology",
                  "seniorityLevel": "vp",
                  "linkedinUrl": "https://linkedin.com/in/jane-smith",
                  "companyName": "Acme Retail Systems",
                  "sourceType": [
                    "exhibitor",
                    "visitors"
                  ],
                  "email": null,
                  "phone": null,
                  "contactUnlockStatus": "locked",
                  "phoneUnlockStatus": null,
                  "eventCount": 5,
                  "outreachMessageStatus": null,
                  "outreachMessageChannels": []
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/events": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "List personnel related events",
        "description": "Return a paginated list of Lensmor events associated with one known personnel identifier.\n\nUse this endpoint when the integration already has `personnel_id` and needs the person's event history or current event associations. Returned event items use the shared public event shape and can be passed directly to event detail, scoring, ranking, or event-access workflows. Follow `hasMore` and increment `page` when additional results are available.\n\nThis lookup does not expose or unlock contact data. If the starting identifier is a LinkedIn URL, use the LinkedIn-based lookup; if only a full name is available, use the exact-name event search and account for its credit and concurrency rules.",
        "operationId": "listPersonnelEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonnelIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "501",
                      "eventId": "139574",
                      "name": "Retail Technology Expo 2026"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/events/by-linkedin": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "List personnel related events by LinkedIn URL",
        "description": "Normalize a public LinkedIn profile URL, resolve the matching Lensmor personnel record, and return that person's related events.\n\nUse this endpoint for browser-extension, CRM-enrichment, or research workflows where LinkedIn URL is the stable starting identifier. The response includes personnel context plus a paginated event list, allowing the client to recover a Lensmor personnel ID for later profile or contact workflows. Continue through pages only while `hasMore` is true.\n\nURL normalization handles common LinkedIn profile variations, but a URL that cannot be resolved returns a not-found response. This call is read-only and does not unlock contact data.",
        "operationId": "listPersonnelEventsByLinkedin",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 500
            },
            "description": "Public LinkedIn profile URL used for normalized personnel matching.",
            "example": "https://www.linkedin.com/in/jane-doe"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Personnel profile and related events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "personnel",
                    "events"
                  ],
                  "properties": {
                    "personnel": {
                      "$ref": "#/components/schemas/ContactItem"
                    },
                    "events": {
                      "$ref": "#/components/schemas/EventPage"
                    }
                  }
                },
                "example": {
                  "personnel": {
                    "id": "789",
                    "fullName": "Jane Smith",
                    "linkedinUrl": "https://linkedin.com/in/jane-smith",
                    "email": null,
                    "phone": null,
                    "contactUnlockStatus": "locked",
                    "phoneUnlockStatus": null,
                    "eventCount": 5
                  },
                  "events": {
                    "items": [
                      {
                        "id": "501",
                        "eventId": "139574",
                        "name": "Retail Technology Expo 2026"
                      }
                    ],
                    "total": 1,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 1,
                    "hasMore": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/events/by-name": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "Search personnel related events by name",
        "description": "Find a paginated, deduplicated event list for up to 50 personnel records whose full name exactly matches the supplied name.\n\nUse this endpoint only when neither a Lensmor personnel ID nor a LinkedIn URL is available. Matching is case-insensitive after trimming but is not partial or fuzzy. Date filters apply to event start dates; without `date_start_from`, the search defaults to upcoming events.\n\nThis endpoint requires an active paid user. A non-empty result consumes `50` credits, an empty result consumes `0` credits, and at most `10 requests` can run concurrently for one user. The response contains events rather than a separate personnel object.",
        "operationId": "searchPersonnelEventsByName",
        "parameters": [
          {
            "name": "person_name",
            "in": "query",
            "required": true,
            "description": "Exact full name. Matching is case-insensitive after trimming; partial and fuzzy matching are not used.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "Jane Doe"
          },
          {
            "name": "date_start_from",
            "in": "query",
            "required": false,
            "description": "Inclusive event start-date lower bound. Defaults to the current date when omitted.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "date_start_to",
            "in": "query",
            "required": false,
            "description": "Inclusive event start-date upper bound. Omit it for no upper bound.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events, a paid-feature business error, or a per-user concurrency business error",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EventPage"
                    },
                    {
                      "$ref": "#/components/schemas/FeatureUnavailableBusinessError"
                    },
                    {
                      "$ref": "#/components/schemas/ConcurrencyLimitBusinessError"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "items": [
                        {
                          "id": "501",
                          "eventId": "139574",
                          "name": "Retail Technology Expo 2026",
                          "nickname": null,
                          "description": "Retail technology event",
                          "url": "https://example.com/events/retail-technology-expo-2026",
                          "dateStart": "2026-10-01",
                          "dateEnd": "2026-10-03",
                          "venue": "Las Vegas Convention Center",
                          "city": "Las Vegas",
                          "region": "NV",
                          "country": "United States",
                          "exhibitorCount": 950,
                          "hasVisitors": true,
                          "sponsorMatchStarred": 0,
                          "image": null,
                          "dataSource": "Lensmor"
                        }
                      ],
                      "total": 1,
                      "page": 1,
                      "pageSize": 20,
                      "totalPages": 1,
                      "hasMore": false
                    }
                  },
                  "concurrencyLimitExceeded": {
                    "value": {
                      "code": 429,
                      "message": "Too many concurrent requests for this endpoint",
                      "errorKey": "USER_CONCURRENCY_LIMIT_EXCEEDED",
                      "data": null,
                      "details": null,
                      "traceId": "trace-123"
                    }
                  },
                  "featureUnavailable": {
                    "value": {
                      "code": 400,
                      "message": "This feature is not available to free users, please upgrade to continue",
                      "errorKey": "USER_HAS_NO_FEATURE",
                      "traceId": "2be6d7f4-3b2d-4d11-8e2d-7a2e4c3e9a10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "Active paid subscription required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/unlock-linkedin-activity": {
      "post": {
        "tags": [
          "Personnel"
        ],
        "summary": "Unlock LinkedIn activity",
        "description": "Start LinkedIn activity analysis for personnel records, optionally in an event context.\n\nUse this endpoint after collecting personnel IDs and when the product needs activity metadata rather than contact details. Submit between one and 2,000 personnel IDs. `event_id` is optional; when omitted, the service does not validate that each person belongs to an event. The response reports acceptance, unlock state, task identity, and per-person errors.\n\nThe workflow is asynchronous for newly requested analysis. Do not treat a successful submission as completed analysis; poll or refresh personnel data according to the returned task state. This endpoint does not unlock email addresses or phone numbers.",
        "operationId": "unlockLinkedinActivity",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinActivityUnlockRequest"
              },
              "example": {
                "personnel_ids": [
                  "789"
                ],
                "event_id": "139574"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Per-personnel LinkedIn activity unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedinActivityUnlockResponse"
                },
                "example": {
                  "items": [
                    {
                      "personnel_id": "789",
                      "success": true,
                      "alreadyUnlocked": false,
                      "taskId": null,
                      "error": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search contacts",
        "description": "Search Lensmor contacts within a required company scope. Start with `company_name`, then add `role`, `person_name`, or both to narrow the results.\n\nUse this endpoint to find people at a target account, confirm coverage before an unlock workflow, and collect personnel IDs for profile, email, phone, or outreach actions.\n\nThis is a read-only, company-scoped discovery endpoint; it does not unlock contact data. Use only the documented filters. No matches return `200 OK` with an empty `items` array. `sourceType` contains non-exclusive labels aggregated across associated events, while `linkedinActivity` and `linkedinActivityStatus` remain `null` here.",
        "operationId": "searchContacts",
        "parameters": [
          {
            "name": "company_name",
            "in": "query",
            "required": true,
            "description": "Required company-name search term that scopes the contact search. Length: 1–200 characters.",
            "example": "Acme",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Optional job-role or title term used to narrow people within the company. Blank values are ignored.",
            "example": "VP Marketing",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "person_name",
            "in": "query",
            "description": "Optional person-name term used to narrow people within the company. Blank values are ignored.",
            "example": "Jane",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated matching contacts. A valid search with no matches returns the same envelope with an empty `items` array and zero totals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "101",
                      "fullName": "Jane Doe",
                      "title": "VP Marketing",
                      "department": "marketing",
                      "seniorityLevel": "vp",
                      "linkedinUrl": "https://linkedin.com/in/jane",
                      "companyName": "Acme",
                      "sourceType": [
                        "social",
                        "visitors"
                      ],
                      "email": null,
                      "phone": null,
                      "contactUnlockStatus": "locked",
                      "phoneUnlockStatus": null,
                      "linkedinActivity": null,
                      "linkedinActivityStatus": null,
                      "eventCount": 3
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Unlock contact emails",
        "description": "Submit personnel records for email enrichment, optionally in an event context.\n\nUse this endpoint after contact or personnel discovery when the integration needs email addresses. Newly chargeable work consumes `15` credits per contact and returns `status: accepted` with a task identifier. `event_id` is optional; omitting it skips event membership validation. If every record is already unlocked or skipped, the endpoint can return `status: success` without a task.\n\nOnly poll the email task endpoint when `status` is `accepted` and `task_id` is present. A `201` response means the submission was processed, not that every email was found. Inspect skipped details and item-level results, and avoid duplicate work while an earlier task is active.",
        "operationId": "unlockContactEmails",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "personnel_ids"
                ],
                "properties": {
                  "personnel_ids": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 2000,
                    "items": {
                      "type": "string"
                    },
                    "description": "Lensmor personnel identifiers selected for this batch operation.",
                    "example": [
                      "789"
                    ]
                  },
                  "event_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "Optional Lensmor event identifier returned as `id` or `eventId`. When omitted, event membership validation is skipped.",
                    "example": "26855"
                  }
                }
              },
              "example": {
                "personnel_ids": [
                  "789",
                  "790"
                ],
                "event_id": "139574"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Unlock submission accepted, or completed with no chargeable work",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUnlockSubmission"
                },
                "example": {
                  "status": "accepted",
                  "task_id": "321",
                  "job_id": "321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock-tasks/{taskId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact unlock task",
        "description": "Poll an email-unlock task created by the contact email submission endpoint.\n\nStore the returned `task_id` and use it here to make the workflow resumable across background jobs, frontend refreshes, or retries. Continue polling while `taskStatus` is `pending` or `processing`, then stop when it reaches `completed` or `failed`. Use a controlled polling interval and treat each read as a status check, not a new unlock request.\n\nTask completion does not guarantee an email for every submitted person. Process item-level status, email, and error information independently, persist successful results, and do not retry the same task after it reaches a terminal state.",
        "operationId": "getContactUnlockTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "description": "Email-unlock task identifier returned as `task_id` by the submission endpoint.",
            "example": "321"
          }
        ],
        "responses": {
          "200": {
            "description": "Unlock task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUnlockTask"
                },
                "example": {
                  "taskId": "321",
                  "taskStatus": "processing",
                  "items": [
                    {
                      "personnelId": "789",
                      "status": "unlocked",
                      "email": "jane@acme.example"
                    },
                    {
                      "personnelId": "790",
                      "status": "processing"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/profile-matching/actions/apply-recommended-events/paged": {
      "post": {
        "tags": [
          "Profile Matching"
        ],
        "summary": "Apply profile and get recommended events",
        "description": "Apply company-profile inputs synchronously and return a paginated set of Lensmor events ranked for that profile.\n\nUse this endpoint when discovery starts from a company website or target-audience description rather than from a known event. Provide at least one of `company_url` or `target_audience`, then optionally narrow results by geography, category, event type, dates, future status, or attendee-count range.\n\nThis endpoint does not spend credits or unlock event access. Recommendation scores, tiers, reasons, and matched-exhibitor evidence are point-in-time outputs that can change as the profile or Lensmor data changes. Use neutral event list search when profile-based ranking is not required.",
        "operationId": "applyRecommendedEventsPaged",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProfileMatchingBody"
        },
        "responses": {
          "201": {
            "description": "Recommended events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEventRecommendationPage"
                },
                "example": {
                  "status": "completed",
                  "items": [
                    {
                      "id": "501",
                      "eventId": "10067",
                      "name": "American Banker Digital Banking 2026",
                      "city": "Orlando",
                      "country": "United States",
                      "attendeeCount": 1825,
                      "declaredExpectedAttendees": 600,
                      "sourceTags": [],
                      "dataSource": "Lensmor",
                      "matched_exhibitor_count": 19,
                      "matched_personnel_count": 85,
                      "match_score": 0.84,
                      "unlocked": false,
                      "relevanceReason": null,
                      "rank": 1
                    }
                  ],
                  "total": 42,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 3,
                  "hasMore": true,
                  "condition_tags": {},
                  "profile_version": 12,
                  "active_result_version": 12,
                  "is_stale": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/profile-matching/recommendations/exhibitors": {
      "get": {
        "tags": [
          "Profile Matching"
        ],
        "summary": "Get recommended exhibitors for event",
        "description": "Return exhibitor recommendation state for one selected event under the authenticated user's current profile.\n\nUse this endpoint when the workflow needs profile-aware exhibitor prioritization rather than the neutral event exhibitor catalog. Filters can narrow the recommendation page by location, company text or exact name, category, industry, and employee-count range.\n\nDepending on recommendation readiness, items can contain ranked match evidence or an unranked fallback state. Inspect `recommendationProcessing`, `isRecommended`, rank, status, score, tier, and reason instead of assuming every result is fully scored. Use the standard exhibitor list when preview/full event-access semantics are the primary requirement.",
        "operationId": "getRecommendedExhibitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more country or region labels. Repeat the query parameter for multiple values.",
            "example": [
              "United States"
            ]
          },
          {
            "name": "searchQuery",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search company names or descriptions within the event recommendation set.",
            "example": "analytics"
          },
          {
            "name": "exhibitorName",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more exact exhibitor company names.",
            "example": [
              "Acme"
            ]
          },
          {
            "$ref": "#/components/parameters/CategoryArray"
          },
          {
            "$ref": "#/components/parameters/IndustryArray"
          },
          {
            "name": "employeesMin",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Minimum company employee count, inclusive.",
            "example": 50
          },
          {
            "name": "employeesMax",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Maximum company employee count, inclusive.",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated recommendation state or unranked fallback exhibitor rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedExhibitorPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "isRecommended": true,
                      "recommendationRank": 1,
                      "matchStatus": "ready",
                      "matchScore": 91,
                      "matchTier": "top_match",
                      "reason": "Strong fit for the active profile."
                    }
                  ],
                  "total": 87,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 5,
                  "hasMore": true,
                  "recommendationProcessing": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock-phone": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Unlock contact phone numbers",
        "description": "Submit personnel records for phone-number enrichment, optionally in an event context.\n\nUse this endpoint after contact or personnel discovery when the integration needs phone numbers. Newly chargeable work consumes `150` credits per contact and returns `status: accepted` with a task identifier. `event_id` is optional; omitting it skips event membership validation. When there is no chargeable work, the endpoint can return `status: success` without a task.\n\nOnly poll the phone task endpoint when `status` is `accepted` and `task_id` is present. A `201` response does not guarantee that every phone number will be found. Inspect skipped details and item-level failures, and avoid duplicate submissions while a task is pending or processing.",
        "operationId": "unlockContactPhones",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneUnlockRequest"
              },
              "example": {
                "personnel_ids": [
                  "789"
                ],
                "event_id": "139574"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Phone unlock submission accepted, or completed with no chargeable work",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUnlockSubmission"
                },
                "example": {
                  "status": "accepted",
                  "task_id": "321",
                  "job_id": "321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock-phone-tasks/{taskId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get phone unlock task",
        "description": "Poll a phone-unlock task created by the contact phone submission endpoint.\n\nStore the returned `task_id` so the workflow can resume across background jobs, frontend refreshes, or retries. Poll while `taskStatus` is `pending` or `processing`, then stop when it reaches `completed` or `failed`. Use a controlled interval and treat each read as a status check, not a new unlock request.\n\nTask-level completion does not guarantee a phone number for every person. Handle item-level status, phone, and `errorCode` independently, persist successful results, surface per-record failures, and do not retry a terminal task.",
        "operationId": "getPhoneUnlockTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            },
            "description": "Phone-unlock task identifier returned as `task_id` by the submission endpoint.",
            "example": "321"
          }
        ],
        "responses": {
          "200": {
            "description": "Phone unlock task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneUnlockTask"
                },
                "example": {
                  "taskId": "321",
                  "taskStatus": "completed",
                  "items": [
                    {
                      "personnelId": "789",
                      "status": "unlocked",
                      "phone": "+1 415 555 0100"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/generate-outreach-message": {
      "post": {
        "tags": [
          "Personnel"
        ],
        "summary": "Generate outreach messages",
        "description": "Start asynchronous AI outreach generation for one or more personnel records, with optional event context.\n\nUse this endpoint after personnel selection when the integration needs personalized email or LinkedIn copy. Submit up to 2,000 personnel IDs, choose `email`, `linkedin_message`, or both, and optionally provide `event_id`, LinkedIn variants (`inmail`, `connection_note`, `connected_message`), and an outreach purpose. The operation does not deduct credits.\n\nEach personnel item can succeed or fail independently and may create background work. Store returned task identifiers and retrieve the latest generated content with the outreach detail endpoint. Generating content does not send or contact the person.",
        "operationId": "generateOutreachMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachMessageRequest"
              },
              "example": {
                "personnel_ids": [
                  "789"
                ],
                "event_id": "501",
                "channels": [
                  "email",
                  "linkedin_message"
                ],
                "linkedin_message_types": [
                  "inmail",
                  "connection_note"
                ],
                "outreach_purpose": "Book a product demo"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Outreach message generation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutreachMessageResponse"
                },
                "example": {
                  "items": [
                    {
                      "personnel_id": "789",
                      "success": true,
                      "taskId": null,
                      "error": null
                    }
                  ],
                  "taskCenterId": "321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
[...]
