{
  "openapi": "3.1.0",
  "info": {
    "title": "Lensmor API",
    "version": "0.25.0",
    "description": "Lensmor Event Intelligence API for event discovery, exhibitor research, personnel lookup, credits, and profile matching.",
    "license": {
      "name": "Lensmor Terms of Service",
      "url": "https://www.lensmor.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://platform.lensmor.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Credits",
      "description": "Inspect the credit balance available to the authenticated API key owner."
    },
    {
      "name": "Actions",
      "description": "Preflight access and credit-sensitive actions before executing them."
    },
    {
      "name": "Events",
      "description": "Discover, inspect, score, rank, and unlock trade show event records."
    },
    {
      "name": "Exhibitors",
      "description": "Search and inspect exhibiting companies and their related events."
    },
    {
      "name": "Personnel",
      "description": "Browse event personnel, related events, LinkedIn activity, and outreach content."
    },
    {
      "name": "Contacts",
      "description": "Search contacts and run asynchronous email or phone unlock workflows."
    },
    {
      "name": "Profile Matching",
      "description": "Apply a buyer profile to rank events and recommend exhibitors."
    }
  ],
  "paths": {
    "/external/credits/balance": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get credits balance",
        "description": "Return subscription, add-on, gift, and total credits for the authenticated API key owner without spending credits.",
        "operationId": "getExternalCreditsBalance",
        "responses": {
          "200": {
            "description": "Credits balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalance"
                },
                "example": {
                  "totalAmount": 45050,
                  "totalBalance": 38050,
                  "subscriptionAmount": 35000,
                  "subscriptionBalance": 30000,
                  "addonAmount": 10000,
                  "addonBalance": 8000,
                  "addonExpireAt": 1784851200000,
                  "giftAmount": 50,
                  "giftBalance": 50,
                  "resetAt": 1714521600000
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/actions/precheck": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Precheck an external action",
        "description": "Evaluate access and expected credit behavior for a supported action without executing or charging it.",
        "operationId": "precheckExternalAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionPrecheckRequest"
              },
              "example": {
                "action_type": "query_event_personnel",
                "call_source": "api",
                "params": {
                  "event_id": "26855"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Precheck decision envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionPrecheckResponse"
                },
                "example": {
                  "ok": true,
                  "action_type": "query_event_personnel",
                  "allowed": true,
                  "should_charge": false,
                  "credits": 0,
                  "reason_code": "ok",
                  "biz_code": "",
                  "detail": {
                    "event_id": "26855",
                    "access_mode": "preview",
                    "preview_limit": 50,
                    "unlock_action_type": "unlock_event_contacts",
                    "unlock_credits": 2000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/list": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "description": "Search and filter the event catalog by keyword, geography, date, type, and quality with pagination. Event items include hasVisitors when registered Visitor data is available; the public event list does not currently expose a has_visitors query filter.",
        "operationId": "listEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "date_start_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_start_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "26855",
                      "eventId": "26855",
                      "name": "CES 2025",
                      "nickname": "Consumer Electronics Show 2025",
                      "description": "Consumer technology trade show in Las Vegas.",
                      "url": "https://www.ces.tech/",
                      "dateStart": "2025-01-07",
                      "dateEnd": "2025-01-10",
                      "venue": "Las Vegas Convention Center",
                      "city": "Las Vegas",
                      "region": "Nevada",
                      "country": "United States",
                      "exhibitorCount": 3259,
                      "hasVisitors": true,
                      "sponsorMatchStarred": 0,
                      "image": "https://example.com/ces-image.png",
                      "dataSource": "Lensmor"
                    }
                  ],
                  "total": 42,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 3,
                  "hasMore": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get event detail",
        "description": "Return the detailed public event record for one Lensmor event identifier, including hasVisitors when registered Visitor data is available.",
        "operationId": "getEventDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Event detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event"
                  ],
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/EventDetail"
                    }
                  }
                },
                "example": {
                  "event": {
                    "id": "26855",
                    "eventId": "26855",
                    "name": "CES 2025",
                    "description": "Consumer technology trade show in Las Vegas.",
                    "url": "https://www.ces.tech/",
                    "dateStart": "2025-01-07",
                    "dateEnd": "2025-01-10",
                    "venue": "Las Vegas Convention Center",
                    "city": "Las Vegas",
                    "region": "Nevada",
                    "country": "United States",
                    "exhibitorCount": 3259,
                    "hasVisitors": true,
                    "sponsorMatchStarred": 0,
                    "dataSource": "Lensmor"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/brief": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get event brief",
        "description": "Return a lightweight event record with coverage counts, top categories, and data freshness.",
        "operationId": "getEventBrief",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Event brief",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event",
                    "summary"
                  ],
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/EventItem"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "attendeeCount": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "exhibitorCount": {
                          "type": "integer"
                        },
                        "topCategories": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "dataFreshness": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "event": {
                    "id": "123",
                    "eventId": "139574",
                    "name": "NRF 2026",
                    "description": "Retail industry event",
                    "url": "https://example.com/events/nrf-2026",
                    "dateStart": "2026-01-12",
                    "dateEnd": "2026-01-15",
                    "venue": "Javits Center",
                    "city": "New York",
                    "region": "NY",
                    "country": "United States",
                    "exhibitorCount": 950,
                    "sponsorMatchStarred": 0,
                    "dataSource": "Lensmor"
                  },
                  "summary": {
                    "attendeeCount": 40000,
                    "exhibitorCount": 950,
                    "topCategories": [],
                    "dataFreshness": "database_snapshot"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/fit-score": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Score one event",
        "description": "Calculate a profile-dependent fit score and rationale for one event without unlocking it.",
        "operationId": "scoreEventFit",
        "requestBody": {
          "$ref": "#/components/requestBodies/EventIdBody"
        },
        "responses": {
          "201": {
            "description": "Event fit score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventFitScore"
                },
                "example": {
                  "event": {
                    "id": "123",
                    "eventId": "139574",
                    "name": "NRF 2026",
                    "description": "Retail industry event",
                    "url": "https://example.com/events/nrf-2026",
                    "dateStart": "2026-01-12",
                    "dateEnd": "2026-01-15",
                    "venue": "Javits Center",
                    "city": "New York",
                    "region": "NY",
                    "country": "United States",
                    "exhibitorCount": 950,
                    "sponsorMatchStarred": 0,
                    "dataSource": "Lensmor"
                  },
                  "score": 8.1,
                  "recommendation": "recommended",
                  "breakdown": {
                    "profile_match": 8.1,
                    "matched_exhibitor_density": 1.9,
                    "event_scale": 9.5
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/rank": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Rank events",
        "description": "Rank a supplied set of event identifiers against the authenticated user's profile.",
        "operationId": "rankEvents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_ids"
                ],
                "properties": {
                  "event_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                }
              },
              "example": {
                "event_ids": [
                  "139574",
                  "139575"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ranked events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventRankItem"
                      }
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "event_id": "139574",
                      "name": "NRF 2026",
                      "rank": 1,
                      "match_score": 0.86,
                      "reasons": []
                    },
                    {
                      "event_id": "139575",
                      "name": "Shoptalk 2026",
                      "rank": 2,
                      "match_score": 0.79,
                      "reasons": []
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}/unlock": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Unlock event access",
        "description": "Unlock base event access for complete exhibitor and personnel results. A first unlock can consume 2,000 credits, repeated unlocks are idempotent, and the separate visitor data layer is not included.",
        "operationId": "unlockEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "201": {
            "description": "Event unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventUnlockResult"
                },
                "example": {
                  "success": true,
                  "alreadyUnlocked": false,
                  "creditsUsed": 2000,
                  "balanceAfter": {
                    "subscriptionBalance": 0,
                    "permanentBalance": 451021,
                    "totalBalance": 451021,
                    "unlimited": false
                  },
                  "event": {
                    "id": "26855",
                    "eventId": "26855",
                    "name": "CES 2025"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}/visitors/unlock": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Unlock event visitor access",
        "description": "Unlock visitor records for an event that already has base event access. The first successful visitor unlock consumes 3,000 credits, requires an active subscription and available visitor data, and repeated unlocks are idempotent.",
        "operationId": "unlockEventVisitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "201": {
            "description": "Visitor access unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventVisitorUnlockResult"
                },
                "example": {
                  "success": true,
                  "alreadyUnlocked": false,
                  "creditsSpent": 3000,
                  "balanceAfter": {
                    "totalAmount": 45050,
                    "totalBalance": 35050,
                    "subscriptionAmount": 35000,
                    "subscriptionBalance": 27000,
                    "addonAmount": 10000,
                    "addonBalance": 8000,
                    "addonExpireAt": 1784851200000,
                    "giftAmount": 50,
                    "giftBalance": 50,
                    "resetAt": 1785542400000
                  },
                  "event": {
                    "id": "26855",
                    "eventId": "26855",
                    "name": "CES 2025"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/events/{id}/full-access/unlock": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Unlock full event access",
        "description": "Atomically unlock base event access and visitor access, charging only for missing access layers: 2,000 credits for base event access and 3,000 credits for visitor access, up to 5,000 credits total.",
        "operationId": "unlockEventFullAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdPath"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "201": {
            "description": "Full event access unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventFullAccessUnlockResult"
                },
                "example": {
                  "success": true,
                  "alreadyUnlocked": false,
                  "eventUnlocked": true,
                  "visitorUnlocked": true,
                  "visitorSkipped": false,
                  "totalCreditsUsed": 5000,
                  "balanceAfter": {
                    "subscriptionBalance": 25000,
                    "permanentBalance": 50,
                    "totalBalance": 33050,
                    "unlimited": false
                  },
                  "event": {
                    "id": "26855",
                    "eventId": "26855",
                    "name": "CES 2025"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/list": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "List event exhibitors",
        "description": "Return paginated exhibitors for an event with preview or full-access semantics and visible coverage counts.",
        "operationId": "listExhibitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "$ref": "#/components/parameters/CategoryArray"
          },
          {
            "$ref": "#/components/parameters/IndustryArray"
          },
          {
            "name": "jobTitle",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "managementLevel",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "department",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "personnelLimit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated exhibitors with access semantics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorPageWithSemantics"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "domain": "acme.example",
                      "website": "https://acme.example",
                      "industry": "Retail Technology",
                      "country": "United States",
                      "matched_event_ids": [
                        "139574"
                      ]
                    }
                  ],
                  "total": 87,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 5,
                  "hasMore": true,
                  "recommendationProcessing": false,
                  "recommendationProcessingFeature": "none",
                  "semantics": {
                    "accessMode": "preview",
                    "previewLimit": 50,
                    "counts": {
                      "actualTotal": 87,
                      "visibleTotal": 50,
                      "remainingLockedCount": 37
                    },
                    "pageState": {
                      "requestedPage": 1,
                      "accessible": true,
                      "maxAccessiblePage": 1
                    },
                    "unlock": {
                      "requiredForMoreResults": true,
                      "actionType": "unlock_event_exhibitors",
                      "credits": 2000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/search": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Search exhibitors by company context",
        "description": "Search exhibitor records using a company website URL or target-audience context.",
        "operationId": "searchExhibitors",
        "requestBody": {
          "$ref": "#/components/requestBodies/ExhibitorSearchBody"
        },
        "responses": {
          "201": {
            "description": "Paginated exhibitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "domain": "acme.example",
                      "website": "https://acme.example",
                      "industry": "Retail Technology",
                      "country": "United States",
                      "matched_event_ids": [
                        "139574"
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/search-by-company-name": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Search exhibitors by company name",
        "description": "Run a precision-first exhibitor lookup by company name. A non-empty result consumes 50 credits; an empty result does not consume credits.",
        "operationId": "searchExhibitorsByCompanyName",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CompanyNameBody"
        },
        "responses": {
          "201": {
            "description": "Paginated exhibitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "domain": "acme.example",
                      "website": "https://acme.example",
                      "industry": "Retail Technology",
                      "country": "United States",
                      "matched_event_ids": [
                        "139574"
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/search-events": {
      "post": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Search events by exhibitor company name",
        "description": "Find events associated with a company name. A non-empty result consumes 50 credits; an empty result does not consume credits.",
        "operationId": "searchEventsByExhibitorCompanyName",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchEventsByCompanyNameBody"
        },
        "responses": {
          "201": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventReverseSearchPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "123",
                      "eventId": "139574",
                      "name": "Shoptalk 2026",
                      "dateStart": "2026-03-15",
                      "dateEnd": "2026-03-18",
                      "city": "Las Vegas",
                      "country": "United States",
                      "sponsorMatchStarred": 1,
                      "dataSource": "Lensmor",
                      "matchedExhibitors": [
                        {
                          "id": "456",
                          "companyName": "Acme Retail Systems"
                        }
                      ]
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/profile": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "Get exhibitor profile",
        "description": "Return the public company profile for one exhibitor identifier.",
        "operationId": "getExhibitorProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExhibitorIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Exhibitor profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExhibitorProfile"
                },
                "example": {
                  "id": "456",
                  "companyName": "Acme Retail Systems",
                  "domain": "acme.example",
                  "website": "https://acme.example",
                  "industry": "Retail Technology",
                  "employeeCount": 220,
                  "country": "United States",
                  "fundingRound": "Series B",
                  "matched_event_ids": [
                    "139574"
                  ],
                  "events": [
                    {
                      "id": "123",
                      "eventId": "139574",
                      "name": "NRF 2026"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/exhibitors/events": {
      "get": {
        "tags": [
          "Exhibitors"
        ],
        "summary": "List exhibitor related events",
        "description": "Return paginated events associated with one exhibitor identifier.",
        "operationId": "listExhibitorEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExhibitorIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "123",
                      "eventId": "139574",
                      "name": "NRF 2026",
                      "dateStart": "2026-01-12",
                      "dateEnd": "2026-01-15",
                      "city": "New York",
                      "country": "United States"
                    }
                  ],
                  "total": 12,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/list": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "List event personnel",
        "description": "Return paginated people for an event with event-scoped attendee source labels and preview or full base-event access semantics. The sourceType array can contain exhibitor, social, and visitors; labels are not mutually exclusive. Use the sourceType query parameter to filter by one supported attendee source. Visitor is a separate access layer, so semantics.accessMode does not by itself confirm Visitor access.",
        "operationId": "listPersonnel",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          },
          {
            "name": "exhibitor_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "department",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "search_query",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "Filter personnel by one event-scoped attendee source label. Supported values are exhibitor, social, and visitors.",
            "schema": {
              "type": "string",
              "enum": [
                "exhibitor",
                "social",
                "visitors"
              ],
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated contacts with access semantics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPageWithSemantics"
                },
                "example": {
                  "items": [
                    {
                      "id": "789",
                      "fullName": "Jane Smith",
                      "title": "VP of Retail Technology",
                      "companyName": "Acme Retail Systems",
                      "sourceType": [
                        "exhibitor",
                        "social"
                      ],
                      "email": null,
                      "phone": null,
                      "contactUnlockStatus": "locked",
                      "phoneUnlockStatus": null,
                      "eventCount": 5,
                      "outreachMessageStatus": null,
                      "outreachMessageChannels": []
                    }
                  ],
                  "total": 42,
                  "page": 1,
                  "pageSize": 50,
                  "totalPages": 1,
                  "hasMore": false,
                  "semantics": {
                    "accessMode": "preview",
                    "previewLimit": 50
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/profile": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "Get personnel profile",
        "description": "Return the public professional profile for one personnel identifier. The sourceType array can aggregate non-exclusive attendee source labels across the person's associated events.",
        "operationId": "getPersonnelProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonnelIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Personnel profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                },
                "example": {
                  "id": "789",
                  "fullName": "Jane Smith",
                  "title": "VP of Retail Technology",
                  "department": "Technology",
                  "seniorityLevel": "vp",
                  "linkedinUrl": "https://linkedin.com/in/jane-smith",
                  "companyName": "Acme Retail Systems",
                  "sourceType": [
                    "exhibitor",
                    "visitors"
                  ],
                  "email": null,
                  "phone": null,
                  "contactUnlockStatus": "locked",
                  "phoneUnlockStatus": null,
                  "eventCount": 5,
                  "outreachMessageStatus": null,
                  "outreachMessageChannels": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/events": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "List personnel related events",
        "description": "Return paginated events associated with one personnel identifier.",
        "operationId": "listPersonnelEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/PersonnelIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "139574",
                      "eventId": "139574",
                      "name": "Retail Technology Expo 2026"
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/events/by-linkedin": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "List personnel related events by LinkedIn URL",
        "description": "Resolve a public LinkedIn profile URL to a personnel record and its related events.",
        "operationId": "listPersonnelEventsByLinkedin",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 500
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Personnel profile and related events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "personnel",
                    "events"
                  ],
                  "properties": {
                    "personnel": {
                      "$ref": "#/components/schemas/ContactItem"
                    },
                    "events": {
                      "$ref": "#/components/schemas/EventPage"
                    }
                  }
                },
                "example": {
                  "personnel": {
                    "id": "789",
                    "fullName": "Jane Smith",
                    "linkedinUrl": "https://linkedin.com/in/jane-smith",
                    "email": null,
                    "phone": null,
                    "contactUnlockStatus": "locked",
                    "phoneUnlockStatus": null,
                    "eventCount": 5
                  },
                  "events": {
                    "items": [
                      {
                        "id": "139574",
                        "eventId": "139574",
                        "name": "Retail Technology Expo 2026"
                      }
                    ],
                    "total": 1,
                    "page": 1,
                    "pageSize": 20,
                    "totalPages": 1,
                    "hasMore": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/events/by-name": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "Search personnel related events by name",
        "description": "Return a paginated, deduplicated event list for up to 50 personnel records whose full name exactly matches the supplied name. This endpoint requires an active paid user. A non-empty result consumes 50 credits; an empty result consumes 0 credits. At most 10 requests can run concurrently for one user.",
        "operationId": "searchPersonnelEventsByName",
        "parameters": [
          {
            "name": "person_name",
            "in": "query",
            "required": true,
            "description": "Exact personnel full name. Matching is case-insensitive and ignores leading and trailing whitespace.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "Jane Smith"
          },
          {
            "name": "date_start_from",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound for the event start date. Defaults to the current date when omitted.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-10"
          },
          {
            "name": "date_start_to",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound for the event start date. Omit for no upper bound.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-12-31"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated events, or a business-error envelope when the per-user concurrency limit is exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EventPage"
                    },
                    {
                      "$ref": "#/components/schemas/ConcurrencyLimitBusinessError"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "items": [
                        {
                          "id": "501",
                          "eventId": "139574",
                          "name": "Retail Technology Expo 2026",
                          "nickname": null,
                          "description": "Retail technology event",
                          "url": "https://example.com/events/retail-technology-expo-2026",
                          "dateStart": "2026-10-01",
                          "dateEnd": "2026-10-03",
                          "venue": "Las Vegas Convention Center",
                          "city": "Las Vegas",
                          "region": "NV",
                          "country": "United States",
                          "exhibitorCount": 950,
                          "hasVisitors": true,
                          "sponsorMatchStarred": 0,
                          "image": null,
                          "dataSource": "Lensmor"
                        }
                      ],
                      "total": 1,
                      "page": 1,
                      "pageSize": 20,
                      "totalPages": 1,
                      "hasMore": false
                    }
                  },
                  "concurrencyLimitExceeded": {
                    "value": {
                      "code": 429,
                      "message": "Too many concurrent requests for this endpoint",
                      "errorKey": "USER_CONCURRENCY_LIMIT_EXCEEDED",
                      "data": null,
                      "details": null,
                      "traceId": "trace-123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "description": "Active paid subscription required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/unlock-linkedin-activity": {
      "post": {
        "tags": [
          "Personnel"
        ],
        "summary": "Unlock LinkedIn activity",
        "description": "Start asynchronous LinkedIn activity analysis for one or more personnel records in an event context.",
        "operationId": "unlockLinkedinActivity",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedinActivityUnlockRequest"
              },
              "example": {
                "personnel_ids": [
                  "789"
                ],
                "event_id": "139574"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Per-personnel LinkedIn activity unlock result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedinActivityUnlockResponse"
                },
                "example": {
                  "items": [
                    {
                      "personnel_id": "789",
                      "success": true,
                      "alreadyUnlocked": false,
                      "taskId": "task_321",
                      "error": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search contacts",
        "description": "Search public contact records by required company name and optional role or person-name filters. Returned sourceType arrays can aggregate non-exclusive attendee source labels across associated events.",
        "operationId": "searchContacts",
        "parameters": [
          {
            "name": "company_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "person_name",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "101",
                      "fullName": "Jane Doe",
                      "title": "VP Marketing",
                      "companyName": "Acme",
                      "sourceType": [
                        "social",
                        "visitors"
                      ],
                      "email": null,
                      "phone": null,
                      "contactUnlockStatus": "locked",
                      "phoneUnlockStatus": null,
                      "linkedinActivity": null,
                      "linkedinActivityStatus": null,
                      "eventCount": 3
                    }
                  ],
                  "total": 1,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 1,
                  "hasMore": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Unlock contact emails",
        "description": "Start an asynchronous email unlock task that can consume 15 credits per chargeable contact.",
        "operationId": "unlockContactEmails",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "personnel_ids",
                  "event_id"
                ],
                "properties": {
                  "personnel_ids": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    }
                  },
                  "event_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  }
                }
              },
              "example": {
                "personnel_ids": [
                  "789",
                  "790"
                ],
                "event_id": "139574"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Unlock submission accepted, or completed with no chargeable work",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUnlockSubmission"
                },
                "example": {
                  "status": "accepted",
                  "task_id": "321",
                  "job_id": "321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock-tasks/{taskId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact unlock task",
        "description": "Poll an email unlock task and inspect terminal job status plus item-level email results.",
        "operationId": "getContactUnlockTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unlock task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUnlockTask"
                },
                "example": {
                  "taskId": "321",
                  "taskStatus": "processing",
                  "items": [
                    {
                      "personnelId": "789",
                      "status": "unlocked",
                      "email": "jane@acme.example"
                    },
                    {
                      "personnelId": "790",
                      "status": "processing"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/profile-matching/actions/apply-recommended-events/paged": {
      "post": {
        "tags": [
          "Profile Matching"
        ],
        "summary": "Apply profile and get recommended events",
        "description": "Apply profile-matching input synchronously and return a paginated list of recommended events without spending credits.",
        "operationId": "applyRecommendedEventsPaged",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProfileMatchingBody"
        },
        "responses": {
          "201": {
            "description": "Recommended events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEventRecommendationPage"
                },
                "example": {
                  "status": "completed",
                  "items": [
                    {
                      "id": "10067",
                      "eventId": "10067",
                      "name": "American Banker Digital Banking 2026"
                    }
                  ],
                  "total": 42,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 3,
                  "hasMore": true,
                  "condition_tags": {},
                  "profile_version": 12,
                  "active_result_version": 12,
                  "is_stale": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/profile-matching/recommendations/exhibitors": {
      "get": {
        "tags": [
          "Profile Matching"
        ],
        "summary": "Get recommended exhibitors for event",
        "description": "Return paginated exhibitors recommended for the authenticated user's profile within one event.",
        "operationId": "getRecommendedExhibitors",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventIdQuery"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "searchQuery",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exhibitorName",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/CategoryArray"
          },
          {
            "$ref": "#/components/parameters/IndustryArray"
          },
          {
            "name": "employeesMin",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "employeesMax",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated recommendation state or unranked fallback exhibitor rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedExhibitorPage"
                },
                "example": {
                  "items": [
                    {
                      "id": "456",
                      "companyName": "Acme Retail Systems",
                      "isRecommended": true,
                      "recommendationRank": 1,
                      "matchStatus": "ready",
                      "matchScore": 91,
                      "matchTier": "top_match",
                      "reason": "Strong fit for the active profile."
                    }
                  ],
                  "total": 87,
                  "page": 1,
                  "pageSize": 20,
                  "totalPages": 5,
                  "hasMore": true,
                  "recommendationProcessing": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock-phone": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Unlock contact phone numbers",
        "description": "Start an asynchronous phone unlock task that consumes 150 credits per chargeable contact.",
        "operationId": "unlockContactPhones",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneUnlockRequest"
              },
              "example": {
                "personnel_ids": [
                  "789"
                ],
                "event_id": "139574"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Phone unlock submission accepted, or completed with no chargeable work",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUnlockSubmission"
                },
                "example": {
                  "status": "accepted",
                  "task_id": "phone_321",
                  "job_id": "phone_321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/contacts/unlock-phone-tasks/{taskId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get phone unlock task",
        "description": "Poll a phone unlock task and inspect terminal job status plus item-level phone results.",
        "operationId": "getPhoneUnlockTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone unlock task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneUnlockTask"
                },
                "example": {
                  "taskId": "phone_321",
                  "taskStatus": "completed",
                  "items": [
                    {
                      "personnelId": "789",
                      "status": "unlocked",
                      "phone": "+1 415 555 0100"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/generate-outreach-message": {
      "post": {
        "tags": [
          "Personnel"
        ],
        "summary": "Generate outreach messages",
        "description": "Start asynchronous AI outreach generation for one or more personnel records and selected channels.",
        "operationId": "generateOutreachMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/CallSource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachMessageRequest"
              },
              "example": {
                "personnel_ids": [
                  "789"
                ],
                "event_id": "139574",
                "channels": [
                  "email",
                  "linkedin_message"
                ],
                "linkedin_message_types": [
                  "inmail",
                  "connection_note"
                ],
                "outreach_purpose": "Book a product demo"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Outreach message generation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutreachMessageResponse"
                },
                "example": {
                  "items": [
                    {
                      "personnel_id": "789",
                      "success": true,
                      "taskId": "outreach_321",
                      "error": null
                    }
                  ],
                  "taskCenterId": "outreach_batch_321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/external/personnel/outreach": {
      "get": {
        "tags": [
          "Personnel"
        ],
        "summary": "Get outreach message detail",
        "description": "Return the most recent generated outreach content for one personnel and event combination.",
        "operationId": "getOutreachDetail",
        "parameters": [
          {
            "name": "personnel_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Outreach message detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutreachDetail"
                },
                "example": {
                  "found": true,
                  "channels": [
                    "email",
                    "linkedin_message"
                  ],
                  "messages": {
                    "email": "Hi Jane, I would like to compare notes before Retail Technology Expo.",
                    "linkedin_message": "Hi Jane, are you open to a quick conversation before the event?",
                    "linkedin": {
                      "inmail": {
                        "subject": "Retail Technology Expo",
                        "body": "Hi Jane, I would like to compare notes before the event."
                      },
                      "connection_note": {
                        "body": "Hi Jane, would be glad to connect before the event."
                      }
                    }
                  },
                  "outreach_purpose": "Book a product demo",
                  "tone": "professional",
                  "status": "ready"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Business sk API key",
        "description": "Send the full Business API key from Settings -> API Keys, for example `Authorization: Bearer sk_your_api_key`."
      }
    },
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "EventIdQuery": {
        "name": "event_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "EventIdPath": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "ExhibitorIdQuery": {
        "name": "exhibitor_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "PersonnelIdQuery": {
        "name": "personnel_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 20
        }
      },
      "CategoryArray": {
        "name": "category",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "IndustryArray": {
        "name": "industry",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "CallSource": {
        "name": "x-call-source",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "api",
            "agent"
          ]
        }
      }
    },
    "requestBodies": {
      "EventIdBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "event_id"
              ],
              "properties": {
                "event_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                }
              }
            },
            "example": {
              "event_id": "139574"
            }
          }
        }
      },
      "ExhibitorSearchBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "company_url": {
                  "type": "string",
                  "format": "uri"
                },
                "target_audience": {
                  "type": "string"
                },
                "page": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1
                },
                "pageSize": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 20
                }
              },
              "anyOf": [
                {
                  "required": [
                    "company_url"
                  ]
                },
                {
                  "required": [
                    "target_audience"
                  ]
                }
              ]
            },
            "example": {
              "company_url": "https://acme.example",
              "page": 1,
              "pageSize": 20
            }
          }
        }
      },
      "CompanyNameBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "company_name"
              ],
              "properties": {
                "company_name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "page": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1
                },
                "pageSize": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 20
                }
              }
            },
            "example": {
              "company_name": "Acme",
              "page": 1,
              "pageSize": 20
            }
          }
        }
      },
      "SearchEventsByCompanyNameBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "company_name"
              ],
              "properties": {
                "company_name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "sponsor_match_starred": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ],
                  "description": "Filter to events whose Sponsor Match starred state is 0 or 1. Omit the field to include both states."
                },
                "page": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1
                },
                "pageSize": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 20
                }
              }
            },
            "example": {
              "company_name": "Acme",
              "sponsor_match_starred": 1,
              "page": 1,
              "pageSize": 20
            }
          }
        }
      },
      "ProfileMatchingBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "company_url": {
                  "type": "string",
                  "format": "uri"
                },
                "target_audience": {
                  "type": "string"
                },
                "page": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 1
                },
                "pageSize": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 20
                },
                "autoRecommendTop3EventsEnabled": {
                  "type": "boolean"
                },
                "city": {
                  "type": "string"
                },
                "region": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "eventTypeIds": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "dateStartFrom": {
                  "type": "string",
                  "format": "date"
                },
                "dateStartTo": {
                  "type": "string",
                  "format": "date"
                },
                "future": {
                  "type": "integer"
                },
                "attendeeCountMin": {
                  "type": "integer",
                  "minimum": 0
                },
                "attendeeCountMax": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "anyOf": [
                {
                  "required": [
                    "company_url"
                  ]
                },
                {
                  "required": [
                    "target_audience"
                  ]
                }
              ]
            },
            "example": {
              "company_url": "https://acme.example",
              "page": 1,
              "pageSize": 20,
              "country": "United States",
              "future": 1
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Insufficient credits",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "Conflict": {
        "description": "Business conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "code",
          "message",
          "errorKey",
          "traceId"
        ],
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "errorKey": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "ConcurrencyLimitBusinessError": {
        "type": "object",
        "required": [
          "code",
          "message",
          "errorKey",
          "data",
          "details",
          "traceId"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "const": 429
          },
          "message": {
            "type": "string"
          },
          "errorKey": {
            "type": "string",
            "const": "USER_CONCURRENCY_LIMIT_EXCEEDED"
          },
          "data": {
            "type": "null"
          },
          "details": {
            "type": "null"
          },
          "traceId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreditBalance": {
        "type": "object",
        "required": [
          "totalAmount",
          "totalBalance",
          "subscriptionAmount",
          "subscriptionBalance",
          "addonAmount",
          "addonBalance",
          "addonExpireAt",
          "giftAmount",
          "giftBalance",
          "resetAt"
        ],
        "properties": {
          "totalAmount": {
            "type": "number"
          },
          "totalBalance": {
            "type": "number"
          },
          "subscriptionAmount": {
            "type": "number"
          },
          "subscriptionBalance": {
            "type": "number"
          },
          "addonAmount": {
            "type": "number"
          },
          "addonBalance": {
            "type": "number"
          },
          "addonExpireAt": {
            "type": [
              "number",
              "null"
            ]
          },
          "giftAmount": {
            "type": "number"
          },
          "giftBalance": {
            "type": "number"
          },
          "resetAt": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "EventItem": {
        "type": "object",
        "required": [
          "id",
          "eventId",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "dateStart": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "dateEnd": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "venue": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "exhibitorCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "hasVisitors": {
            "type": "boolean",
            "description": "True when the event currently has registered Visitor data available. This is an availability signal, not proof that the caller has unlocked Visitor access."
          },
          "sponsorMatchStarred": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Sponsor Match starred state returned by Lensmor."
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "dataSource": {
            "type": "string",
            "const": "Lensmor"
          }
        },
        "additionalProperties": true
      },
      "EventDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EventItem"
          },
          {
            "type": "object",
            "properties": {
              "latitude": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "longitude": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "attendeeCount": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "priceLower": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "priceUpper": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "eventType": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "topics": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "topicsCount": {
                "type": "integer"
              },
              "verified": {
                "type": "integer"
              },
              "future": {
                "type": "integer"
              },
              "historic": {
                "type": "integer"
              },
              "historicEvent": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "personnelCount": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "eventTypes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        ]
      },
      "EventPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize",
          "totalPages",
          "hasMore"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "MatchedExhibitorSummary": {
        "type": "object",
        "required": [
          "id",
          "companyName"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EventReverseSearchItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EventItem"
          },
          {
            "type": "object",
            "required": [
              "matchedExhibitors"
            ],
            "properties": {
              "matchedExhibitors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MatchedExhibitorSummary"
                }
              }
            }
          }
        ]
      },
      "EventReverseSearchPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize",
          "totalPages",
          "hasMore"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventReverseSearchItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "EventFitScore": {
        "type": "object",
        "required": [
          "event",
          "score",
          "recommendation",
          "breakdown"
        ],
        "properties": {
          "event": {
            "$ref": "#/components/schemas/EventItem"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 10,
            "description": "Overall event fit score on a 0-10 scale."
          },
          "recommendation": {
            "type": "string",
            "enum": [
              "recommended",
              "consider",
              "not_recommended"
            ],
            "description": "Decision category derived from score: recommended for 7-10, consider for 4 to below 7, and not_recommended for below 4."
          },
          "breakdown": {
            "type": "object",
            "required": [
              "profile_match",
              "matched_exhibitor_density",
              "event_scale"
            ],
            "properties": {
              "profile_match": {
                "type": "number",
                "minimum": 0,
                "maximum": 10,
                "description": "Profile-context compatibility component on a 0-10 scale."
              },
              "matched_exhibitor_density": {
                "type": "number",
                "minimum": 0,
                "maximum": 10,
                "description": "Matched-exhibitor density component on a 0-10 scale. This is not verified buyer or attendee density."
              },
              "event_scale": {
                "type": "number",
                "minimum": 0,
                "maximum": 10,
                "description": "Event-scale component derived from the Lensmor exhibitor count and capped at 10."
              }
            },
            "additionalProperties": false
          }
        }
      },
      "RecommendedExhibitorItem": {
        "type": "object",
        "required": [
          "id",
          "companyName",
          "isRecommended"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "logo": {
            "type": [
              "string",
              "null"
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "industry": {
            "type": [
              "string",
              "null"
            ]
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "companySize": {
            "type": [
              "string",
              "null"
            ]
          },
          "fundingRound": {
            "type": [
              "string",
              "null"
            ]
          },
          "techStacks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isRecommended": {
            "type": "boolean",
            "description": "True only when the item belongs to the active recommendation snapshot."
          },
          "recommendationRank": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "matchStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pending_unlock",
              "processing",
              "ready",
              "failed",
              null
            ]
          },
          "matchScore": {
            "type": [
              "number",
              "null"
            ]
          },
          "matchTier": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "top_match",
              "strong_match",
              "qualifying_match",
              null
            ]
          },
          "reason": {
[...]
